.nc-chessgrid {
	display: inline-grid;
	grid-template-columns: repeat(8, var(--nc-square-size));
	grid-template-rows: repeat(8, var(--nc-square-size));
	border: 0.2em solid black;
	padding: 0px;
}

.nc-grid-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.nc-piece {
	font-size: var(--nc-piece-size);
	text-align: center;
	line-height: var(--nc-square-size);
	height: var(--nc-square-size);
	width: var(--nc-square-size);
	height: var(--nc-square-size);
	user-select: none;
}

.nc-piece.nc-black {
	color: rgb(var(--nc-black));
}

.nc-piece.nc-black.clickable:hover {
	text-shadow: 0px 0px 2px rgba(var(--nc-black), 0.6);
}

.nc-piece.nc-white {
	color: rgb(var(--nc-white));
}

.nc-piece.nc-white.clickable:hover {
	text-shadow: 0px 0px 2px rgba(var(--nc-white), 0.6);
}

.nc-square.nc-black {
	background-color: rgb(26, 26, 26);
}

.nc-square.nc-white {
	background-color: rgb(235, 235, 235);
}

.nc-black.nc-piece.nc-move-highlight {
	background-color: rgba(var(--nc-black), 0.4);
	cursor: pointer;
}

.nc-white.nc-piece.nc-move-highlight {
	background-color: rgba(var(--nc-white), 0.4);
	cursor: pointer;
}

.nc-black.nc-piece-highlight {
	background-color: rgba(var(--nc-black), 0.4);
}

.nc-white.nc-piece-highlight {
	background-color: rgba(var(--nc-white), 0.4);
}

.nc-grid-border {
	padding: 0.5vmin;
	border: 0.5vmin solid;
}

.nc-corner-border {
	padding: 0.8vmin;
	background: linear-gradient(to right, black 0.3vmin, transparent 0px) 0 0,
		linear-gradient(to bottom, black 0.3vmin, transparent 0px) 0 0,
		linear-gradient(to left, black 0.3vmin, transparent 0px) 100% 100%,
		linear-gradient(to top, black 0.3vmin, transparent 0px) 100% 100%,
		linear-gradient(to right, black 0.3vmin, transparent 0px) 0% 100%,
		linear-gradient(to bottom, black 0.3vmin, transparent 0px) 100% 0,
		linear-gradient(to left, black 0.3vmin, transparent 0px) 100% 0%,
		linear-gradient(to top, black 0.3vmin, transparent 0px) 0% 100%;

	background-repeat: no-repeat;
	background-size: calc(var(--nc-square-size) * 1.5) calc(var(--nc-square-size) * 1.5);
}

@media screen and (max-width: 1080px) {
	:root {
		--nc-square-size: 8vh;
		--nc-piece-size: 6vh;
	}
}

@media screen and (max-width: 550px) {
	:root {
		--nc-square-size: 6.5vh;
		--nc-piece-size: 4.5vh;
	}
}

@media screen and (max-aspect-ratio: 14/16) {
	@media screen and (max-width: 1200px) {
		:root {
			--nc-square-size: 8vw;
			--nc-piece-size: 6vw;
		}
	}

	@media screen and (max-width: 440px) {
		:root {
			--nc-square-size: 10.3vw;
			--nc-piece-size: 7.8vw;
		}
	}
}
