:root {
	--nc-square-size: 8.5vh;
	--nc-piece-size: 6.5vh;
}

@media screen and (max-width: 1080px) {
	:root {
		--nc-square-size: 8vh;
		--nc-piece-size: 6vh;
	}
}

@media screen and (max-width: 500px) {
	:root {
		--nc-square-size: 6vh;
		--nc-piece-size: 4vh;
	}
}

@media screen and (max-aspect-ratio: 14/16) {
	@media screen and (max-width: 1200px) {
		:root {
			--nc-square-size: 8vw;
			--nc-piece-size: 6vw;
		}
	}

	@media screen and (max-width: 440px) {
		:root {
			--nc-square-size: 9.5vw;
			--nc-piece-size: 7.5vw;
		}
	}
}

.nc-chessgrid {
	display: inline-grid;
	grid-template-columns: repeat(8, var(--nc-square-size));
	grid-template-rows: repeat(8, var(--nc-square-size));
	border: 5px solid black;
	padding: 0px;
}

.nc-grid-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.nc-piece {
	font-size: var(--nc-piece-size);
	text-align: center;
	line-height: var(--nc-square-size);
	height: var(--nc-square-size);
	width: var(--nc-square-size);
	height: var(--nc-square-size);
	cursor: pointer;
	user-select: none;
}

.nc-piece.nc-black {
	color: green;
}

.nc-piece.nc-white {
	color: red;
}

.nc-square.nc-black {
	background-color: black;
}

.nc-square.nc-white {
	background-color: white;
}
