.chess-game .top.left.angle {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 10;
}

.chess-game .bottom.right.angle {
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 10;
}

@media screen and (max-width: 990px), (max-height: 600px) {
	.chess-game .top.left.angle {
		top: 13px;
	}

	.chess-game .bottom.right.angle {
		bottom: 13px;
	}
}

@media screen and (max-width: 500px) {
	.chess-game .top.left.angle {
		left: 4vw;
		top: 5vw;
	}

	.chess-game .bottom.right.angle {
		right: 4vw;
		bottom: 5vw;
	}
}

.zero-padding {
	padding: 0px;
}
