:root {
	--nc-square-size: 8vh;
	--nc-piece-size: 6vh;
}

@media only screen and (max-width: 768) {
	:root {
		--nc-square-size: 6.5vw;
		--nc-piece-size: 4.5vw;
	}
}

@media only screen and (max-width: 580px) {
	:root {
		--nc-square-size: 10vw;
		--nc-piece-size: 8vw;
	}
}

.nc-chessgrid {
	display: inline-grid;
	grid-template-columns: repeat(8, var(--nc-square-size));
	grid-template-rows: repeat(8, var(--nc-square-size));
	border: 5px solid black;
	padding: 0px;
}

.nc-grid-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.nc-piece {
	font-size: var(--nc-piece-size);
	text-align: center;
	line-height: var(--nc-square-size);
	height: var(--nc-square-size);
	width: var(--nc-square-size);
	height: var(--nc-square-size);
	cursor: pointer;
	user-select: none;
}

.nc-piece.nc-black {
	color: green;
}

.nc-piece.nc-white {
	color: red;
}

.nc-square.nc-black {
	background-color: black;
}

.nc-square.nc-white {
	background-color: white;
}
