.chess-game .top.left {
	position: absolute;
	top: 65px;
	left: 15px;
	z-index: 9;
}

.chess-game .bottom.right {
	position: absolute;
	right: 15px;
	bottom: 55px;
	z-index: 9;
}

.chess-game .top.right {
	position: absolute;
	right: 20px;
	top: 65px;
	z-index: 9;
	font-size: 1.5em;
}

@media screen and (max-width: 990px), (max-height: 600px) {
	.chess-game .top.left {
		top: 63px;
	}

	.chess-game .bottom.right {
		bottom: 53px;
	}

	.chess-game .top.right {
		top: 65px;
		right: 14px;
		font-size: 1.2em;
	}
}

@media screen and (max-width: 500px) {
	.chess-game .top.left {
		left: 3vw;
		top: calc(3vw + 50px);
	}

	.chess-game .bottom.right {
		right: 3vw;
		bottom: calc(3vw + 40px);
	}
}

.zero-padding {
	padding: 0px;
}
