.game-card .player {
	font-size: 24px !important;
}

.game-card .player .sub.header {
	font-size: 16px !important;
}

.game-card .sub.text {
	font-size: 15px !important;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
}

.game-card .sub.icon {
	color: rgba(0, 0, 0, 0.6);
}

.game-card .empty.icon {
	font-size: 45px;
}

.game-card .main.circular.image {
	height: 60px;
	width: 60px;
}

.game-card .top.right.angle {
	position: absolute;
	top: -10px;
	right: 0px;
	z-index: 10;
}

.game-card .bottom.left.angle {
	display: none;
}

@media only screen and (max-height: 750px) {
	.game-card .footer {
		display: none;
	}
	.game-card .bottom.left.angle {
		font-size: 16px !important;
		display: inherit;
		position: absolute;
		left: -5px;
		bottom: -12px;
	}
}

@media only screen and (max-width: 580px) {
	.game-card .player {
		font-size: 15px !important;
	}

	.game-card .player .sub.header {
		position: relative;
		bottom: 6px;
		font-size: 10px !important;
	}

	.game-card .sub.text {
		font-size: 11px !important;
	}

	.game-card .main.circular.image {
		height: 35px;
		width: 35px;
		font-size: 35px;
	}
	.game-card .empty.icon {
		font-size: 27px;
	}
	.game-card .sub.icon {
		font-size: 8px !important;
	}
	.game-card .eleven.wide.column {
		padding: 4px 10px;
	}

	.game-card .top.right.angle {
		font-size: 10px !important;
		top: -8px;
		right: -1px;
	}

	.game-card .bottom.left.angle {
		font-size: 9px !important;
		display: inherit;
		position: absolute;
		left: -5px;
		bottom: -12px;
	}

	.game-card .bottom.left.angle .sub.text {
		font-size: 9px !important;
	}

	.game-card .footer {
		display: none;
	}
}
