.game.list.footer * {
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 15px !important;
}

.game.list.footer .grid {
	width: 100%;
	height: 100%;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.game.list.footer .grid .left.item {
	grid-column: 1;
	justify-self: left;
}

.game.list.footer .grid .right.item {
	grid-column: 2;
	justify-self: right;
}

@media screen and (max-width: 700px) {
	.game.list.footer .grid .left.item {
		justify-self: center;
	}

	.game.list.footer .grid .right.item {
		justify-self: center;
	}
}

.game.list.footer .ui.button {
	color: rgb(0, 0, 0, 0.87) !important;
}
