.zero-margin {
	margin: 0px !important;
}

.zero-padding {
	padding: 0px !important;
}

.clickable.icon {
	cursor: pointer;
}

.scrolling {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: auto;
	padding: 1px;
}

.scrolling::-webkit-scrollbar {
	display: none;
}
