* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.zero.margin {
	margin: 0px !important;
}

.zero.padding {
	padding: 0px !important;
}

.clickable {
	cursor: pointer;
}

.full.height {
	height: 100%;
}

.full.width {
	width: 100%;
}

.scrollbar.hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.flex.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: column;
}

.scrollbar.hidden::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-height: 260px) {
	.main.footer {
		display: none;
	}
}
